<%= select_tag "magazines", options_from_collection_for_select(@magazines, "id", "name") %>

<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this comic_chapter from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= hidden_field_tag @current_user.uid %>
  </div>


  <div class="field">
    <%= f.label :comic_chapter_id %><br>
    <%= f.collection_select(:comic_chapter_id, ComicChapter.all, :id, :subtitle) %>
  </div>
  <div class="field">
    <%= f.label :loved %><br>
    <%= f.check_box :loved %>
  </div>
  <div class="field">
    <%= f.label :impression %><br>
    <%= f.text_field :impression %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
