<%= select_tag "magazines", options_from_collection_for_select(@magazines, "id", "name"), data: { remote: true, url: url_for(action: :result)} %>

<%= form_for(@vote) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this comic_chapter from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#= render 'result.js.erb', f: f %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= hidden_field_tag @current_user.uid %>
  </div>


  <div class="field" id="result">
    <%= f.label :comic_chapter_id %><br>
    <%= f.collection_select(:comic_chapter_id, ComicChapter.all, :id, :title) %>
  </div>
  <div class="field">
    <%= f.label :loved, "好き" %><br>
    <%= f.check_box :loved %>
  </div>
  <div class="field">
    <%= f.label :cool, "カッコいい" %><br>
    <%= f.check_box :cool %>
  </div>
  <div class="field">
    <%= f.label :fan, "面白い" %><br>
    <%= f.check_box :fan %>
  </div>
  <div class="field">
    <%= f.label :tears, "泣ける" %><br>
    <%= f.check_box :tears %>
  </div>
  <div class="field">
    <%= f.label :laugh, "笑える" %><br>
    <%= f.check_box :laugh %>
  </div>
  <div class="field">
    <%= f.label :impression %><br>
    <%= f.text_area :impression, data: {autogrow: 'false'}, maxlength: "150", size: "30x5" %>
    <%#= f.text_area :impression, {maxlength: "150", size: "30x5",　data: {autogrow: 'false'}} %>
    <span id="count_text"></span>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
